.layout-container {
  display: flex;
  min-height: 100vh;
}

// app-sidebar {
//   width: 250px;
//   flex-shrink: 0;
// }

// .content {
//   flex-grow: 1;
//   padding: 1.5rem;
// }
.tabs {
  inline-size: ~'calc(90% - 15.625rem)';
  justify-content: flex-end;
  box-shadow: none;
}


