<app-header></app-header>

<div class="layout-container" [style.display]="'flex'">
  <!-- Sidebar: shown only on desktop -->
  <app-sidebar class="desktop-only"></app-sidebar>

  <!-- Main Content Area -->
  <main class="content" tuiNavigationMain>
    <div>
    </div>
    @if (showHousingNav) {
      @if (!showInfoSection) {
        <div>
          <app-infosection></app-infosection>
        </div>
      }
      <nav
        tuiNavigationNav
        [style.position]="'sticky'">
        <button tuiButton size="xs" routerLink="/housing" tuiTooltip="Home" tuiHint="Home">
          <tui-icon icon="@tui.house"/>
        </button>
        <button tuiButton routerLink="/housing/create" size="xs">
          <tui-icon icon="@tui.circle-plus"/>
          Create Listing
        </button>
        <button tuiButton routerLink="/housing/mine" size="xs">
          <tui-icon icon="@tui.layout-list"/>
          My Listing
        </button>
        <button tuiButton routerLink="/housing/mine" size="xs">
          <tui-icon icon="@tui.house-plus"/>
          Requests
        </button>
        <div tuiCell="l">
          <div tuiTitle>
            Top Listings
          </div>
        </div>
        <tui-tabs-with-more [(activeItemIndex)]="activeItemIndex" [size]="'m'" underline="red" class="tabs">
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            All Listings
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            Bed Sitters
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            1 Bedrooma
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            1 KM from School
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            2 Bedroom
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            2 Sharing
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            Wifi
          </button>
          <button
            iconStart="@tui.credit-card"
            tuiTab
            type="button"
            *tuiItem
            >
            2 Bedroom
          </button>
        </tui-tabs-with-more>
      </nav>
    }

    <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer>

