<header tuiNavigationHeader>
  <!-- Left: Drawer + Logo -->
  <button tuiIconButton tuiNavigationDrawer [(open)]="openDrawer" type="button" title="menu">
    <tui-data-list size="s">
      <button iconStart="@tui.palette" routerLink="/color-generator" tuiOption type="button">Theme Generator</button>
      <button iconStart="@tui.layout-dashboard" routerLink="/dashboards/iot" tuiOption type="button">IoT Dashboard</button>
      <button iconStart="@tui.layout-dashboard" routerLink="/dashboards/crypto" tuiOption type="button">Crypto Dashboard</button>
      <button iconStart="@tui.log-in" routerLink="/pages/login" tuiOption type="button">Log in</button>
      <button iconStart="@tui.key-round" routerLink="/pages/sign-up" tuiOption type="button">Sign up</button>
    </tui-data-list>
  </button>

  <span tuiNavigationLogo class="logo">Levela</span>

  <!-- Center: Search -->
   <hr />
  <div>
    <tui-textfield (pointerdown.capture.stop)="(0)">
      <input tuiSearchHotkey [formControl]="control" [tuiInputSearch]="search" [(tuiInputSearchOpen)]="open" />
      <ng-template #search>
        <tui-search-results [results]="results$ | async">
          <tui-search-history [popular]="popular"></tui-search-history>
          <ng-template let-item>
            <a tuiCell [href]="item.href">
              <tui-avatar [src]="item.icon || '@tui.file'"></tui-avatar>
              <span tuiTitle>{{ item.title }}<span tuiSubtitle>{{ item.subtitle }}</span></span>
            </a>
          </ng-template>
        </tui-search-results>
      </ng-template>
    </tui-textfield>
  </div>
  <hr />
  <!-- Right: User Info -->
  <div *ngIf="user$ | async as user; else loggedOut" class="header-right">
    <span tuiFade="horizontal">{{ user.full_name }}</span>

    <button tuiButton tuiChevron tuiDropdownOpen [tuiDropdown]="profileDropdown">
      Profile
    </button>

    <ng-template #profileDropdown>
      <tui-data-list size="s">
        <a tuiOption [routerLink]="'/profile'">Profile</a>
        <a tuiOption [routerLink]="'/settings'">Settings</a>
        <button tuiOption (click)="logout()">Logout</button>
      </tui-data-list>
    </ng-template>
  </div>

  <ng-template #loggedOut>
    <a tuiButton [routerLink]="'/auth/login'">
      Login
      <tui-icon icon="@tui.lock-open" [style.font-size.em]="1" [style.margin-left.rem]="0.5"></tui-icon>
    </a>
  </ng-template>

  <!-- Icons + Dark Mode -->
  <div class="header-right">
    <button tuiIconButton tuiHint="Notifications"><tui-icon icon="@tui.bell"></tui-icon></button>
    <button tuiIconButton tuiHint="Messages"><tui-icon icon="@tui.mail"></tui-icon></button>
    <button tuiIconButton tuiHint="Languages"><tui-icon icon="@tui.languages"></tui-icon></button>
    <button
      size="s"
      tuiIconButton
      type="button"
      class="tui-doc-dark-mode-switch"
      [iconStart]="icon()"
      [style.border-radius.%]="100"
      (click)="darkMode.set(!darkMode())"
    >
      Mode
    </button>
  </div>
</header>
