:host {
  display: block;
  margin-top: 1rem;
}

label {
  cursor: pointer;
  border: 2px dashed var(--tui-base-03);
  padding: 1rem;
  display: block;
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
  color: var(--tui-text-03);
}
