<label tuiInputFiles >
  <!-- {{ label }} -->
  <input
    tuiInputFiles
    [maxFileSize]="maxBytes"
    [formControl]="control"
    [multiple]="true"
    accept="image/*"
    (reject)="onReject($event)"
    />

    <ng-template let-dragged>
      @if(dragged){
        <div class="content">
          <tui-avatar appearance="secondary" src="@tui.droplet"/>
          <div>
              Drop it like it's hot!
              <br />
              <br />
          </div>
        </div>
      }@else {
        <div class="content">
          <tui-avatar
              appearance="secondary"
              src="@tui.cloud-upload"
          />
          <div>
              <a tuiLink>Click to upload Images</a>
              or Drag and drop
          </div>
      </div>
      }
    </ng-template>
    <ng-template let-error>

    </ng-template>
</label>

<tui-files class="tui-space_top-1" [max]="3" [(expanded)]="expanded">
  @for (file of accepted$ | async; track file) {
    <tui-file  *tuiItem state="normal" [size]="'m'" [showDelete]="true" [file]="file" (remove)="onRemove(file)" />
  }
  @for (file of rejected; track file) {
    <tui-file *tuiItem state="error"  [file]="file" (remove)="onRemove(file)" />
  }
</tui-files>


