<label tuiInputFiles>
  <input
    [formControl]="control"
    [accept]="accept"
    [multiple]="multiple"
    tuiInputFiles
    />
    {{ label }}
  </label>

  <tui-files class="tui-space_top-1">
    <!-- Rejected -->
    @for (file of rejectedFiles; track file) {
      <tui-file
        state="error"
        [file]="file"
        (remove)="removeFile()"
        />
    }


    <!-- Loading -->
    @for (file of loadingFiles$ | async; track file) {
      <tui-file
        state="loading"
        [file]="file"
        (remove)="removeFile()"
        />
    }

    <!-- Failed -->
    @for (file of failedFiles$ | async; track file) {
      <tui-file
        state="error"
        [file]="file"
        (remove)="removeFile()"
        />
    }

    <!-- Loaded -->
    @for (file of loadedFiles$ | async; track file) {
      <tui-file
        [file]="file"
        (remove)="removeFile()"
        />
    }
  </tui-files>
