<label *ngIf="!control.value" tuiInputFiles>
  <input
    [formControl]="control"
    [accept]="accept"
    [multiple]="multiple"
    tuiInputFiles
  />
  {{ label }}
</label>

  <tui-files class="tui-space_top-1">
    <!-- Rejected -->
    <tui-file
    *ngFor="let file of rejectedFiles"
    state="error"
    [file]="file"
    (remove)="removeFile()"
  />


  <!-- Loading -->
  <tui-file
    *ngFor="let file of loadingFiles$ | async"
    state="loading"
    [file]="file"
    (remove)="removeFile()"
  />

  <!-- Failed -->
  <tui-file
    *ngFor="let file of failedFiles$ | async"
    state="error"
    [file]="file"
    (remove)="removeFile()"
  />

  <!-- Loaded -->
  <tui-file
    *ngFor="let file of loadedFiles$ | async"
    [file]="file"
    (remove)="removeFile()"
  />
</tui-files>
