<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  [formGroup]="form"
  (ngSubmit)="submit()"
  [style.max-width.rem]="38"
>
  <header tuiHeader>
    <h2 tuiTitle>
      New Listing
      <span tuiSubtitle>Add your space</span>
    </h2>
  </header>

  <!-- Title -->
  <tui-textfield>
    <label tuiLabel>Title</label>
    <input tuiTextfield formControlName="title" placeholder="e.g. Cozy Student Room in Nairobi" />
  </tui-textfield>
  <tui-error [formControl]="form.controls['title']" [error]="['required','maxlength'] | tuiFieldError | async" />

  <!-- Description -->
  <tui-textfield>
    <label tuiLabel>House Description</label>
    <textarea tuiTextarea formControlName="description" placeholder="Describe the property" [max]=4 [min]=4></textarea>
  </tui-textfield>
  <tui-error [formControl]="form.controls['description']" [error]="['required','maxlength'] | tuiFieldError | async" />

  <!-- Price -->
  <tui-textfield>
    <label tuiLabel>Price (KES)</label>
    <input tuiTextfield type="number" formControlName="price" placeholder="2500" />
  </tui-textfield>
  <tui-error [formControl]="form.controls['price']" [error]="['required','min'] | tuiFieldError | async" />

  <!-- City -->
  <tui-textfield>
    <label tuiLabel>City</label>
    <input tuiTextfield formControlName="city" placeholder="e.g. Nairobi" />
  </tui-textfield>
  <tui-error [formControl]="form.controls['city']" [error]="['required'] | tuiFieldError | async" />

  <!-- Image Upload -->
  <app-image-upload [control]="form.controls['images']" accept="image/*"  label="Upload room images"></app-image-upload>

  <footer class="tui-space_top-3">
    <button appearance="secondary" tuiButton type="button" routerLink="/housing">Cancel</button>
    <button tuiButton type="submit" [disabled]="form.invalid || loading">
      {{ loading ? 'Posting...' : 'Post Listing' }}
    </button>
  </footer>
</form>
