.form-layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}
form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
section {
  margin: 1.5rem 0;
}

footer {
  display: flex;
  justify-content: space-between;
}


@import '@taiga-ui/core/styles/taiga-ui-local.less';

[tuiItemGroup] {
    display: block;
    max-inline-size: 30rem;
}

