<tui-loader [showLoader]="loading">
  <form
    tuiForm="l"
    [formGroup]="form"
    tuiCardLarge="compact"
    (ngSubmit)="submit()"
    [style.max-width.rem]="38"
    tuiAnimated
    class="tui-text_body-s"
  >
    <header tuiHeader>
      <h2 tuiTitle>
        New Listing
        <span tuiSubtitle>Add your space</span>
      </h2>
    </header>
    <!-- group -->
    <label tuiLabel>Who are You?</label>
    <div
    tuiGroup>

      <label tuiBlock>
        <span tuiTitle>
          {{this.block[0]}}
          <span tuiSubtitle>
            Post snd repost listings to find a roommate
          </span>
          <input type="radio" [value]='block[0]' tuiRadio formControlName="userType"/>
        </span>
      </label>

      <label tuiBlock>
        <span tuiTitle>
          {{this.block[1]}}
          <span tuiSubtitle>
            Post snd repost listings to find a roommate
          </span>
          <input type="radio" [value]='block[1]' tuiRadio formControlName="userType"/>
        </span>
      </label>

      <label tuiBlock>
        <span tuiTitle>
          {{this.block[2]}}
          <span tuiSubtitle>
            Post snd repost listings to find a roommate
          </span>
          <input type="radio" [value]='block[2]' tuiRadio formControlName="userType"/>
        </span>
      </label>

      <label tuiBlock appearance="warning">
        <span tuiTitle>
          {{this.block[3]}}
          <span tuiSubtitle>
            Post snd repost listings to find a roommate
          </span>
          <input type="radio" [value]='block[3]' tuiRadio formControlName="userType"/>
          <tui-error [formControl]="form.controls['userType']" [error]="['required','maxlength'] | tuiFieldError | async" />
        </span>
      </label>
    </div>

    <!-- house type -->
    <label tuiLabel>House Type</label>
    <div tuiItemGroup>
      <tui-items-with-more
      class="container"
      [class.container_expanded]="linesLimit === 100"
      [linesLimit]="linesLimit"
      (lastIndexChange)="lastIndex = $event"
      >
        @for(chip of chips;let i=$index;track i){
          <ng-container>
            <label
            tuiChip
            size="s"
            *tuiItem
            [appearance]="form.controls.houseType.touched ? 'primary' : 'warning'"
            [class.item_visible]="i <= lastIndex"

            >
              <input
              tuiRadio
              type="radio"
              [value]="chip"
              formControlName="houseType"
              [size]="'s'"
              name="houseType">
              {{chip}}
            </label>
            <tui-error [formControl]="form.controls['houseType']" [error]="['required','maxlength'] | tuiFieldError | async" />
          </ng-container>

            <ng-template
            let-index
            tuiMore>
            <button
            type="button"
            tuiChip
            iconEnd="@tui.chevron-down"
            appearance="icon"
            (click)="linesLimit=10">
              + {{getRemaining(index)}}
            </button>
            </ng-template>
        }
      </tui-items-with-more>
    </div>
    <!-- house type alt -->
    @if(form.value.houseType===chips[chips.length-1]){
      <tui-textfield>
        <label tuiLabel>House Type</label>
        <input [style.text-style]="'bold'" tuiTextfield formControlName="customHouseType" placeholder="e.g. Custom house type" />
      </tui-textfield>
      <tui-error [formControl]="form.controls['customHouseType']" [error]="['maxlength'] | tuiFieldError | async" />
    }


    <!-- Number of roommates -->
    @if(form.value.userType==='Student'){
    <label tuiLabel>
      Enter the current No. of occupants
    </label>
    <div tuiGroup class="group">
      <div>
        <tui-textfield
        >
            <label tuiLabel>current occupants</label>
            <input
            tuiInputNumber
            formControlName="currentOccupants"
            placeholder="currentOccupants"
            [max]="10"
            [min]="1"
            [step]="1"
            type="number"
            />
        </tui-textfield>
        <tui-error [formControl]="form.controls['currentOccupants']" [error]="['required'] | tuiFieldError | async" />
      </div>
      <div>
        <tui-textfield
        >
            <label tuiLabel>max occupants</label>
            <input
            tuiInputNumber
            tuiHintContent="max occupants"
            formControlName="maxOccupants"
            [max]="10"
            [min]="1"
            [step]="1"
            placeholder="maxOccupants"
            type="number"

            />
        </tui-textfield>
        <tui-error [formControl]="form.controls['maxOccupants']" [error]="['required'] | tuiFieldError | async" />
      </div>
    </div>
    }


    <!-- title -->
    <tui-textfield>
      <label tuiLabel>Listing Title</label>
      <input tuiTextfield formControlName="title" placeholder="e.g. Cozy Student Room in Nairobi" />
    </tui-textfield>
    <tui-error [formControl]="form.controls['title']" [error]="['required','maxlength'] | tuiFieldError | async" />

    <!-- descr -->
    <tui-textfield>
      <label tuiLabel>House Description</label>
      <textarea [limit]="1000" tuiTextarea formControlName="description" placeholder="Describe the property" [max]=4 [min]=4></textarea>
    </tui-textfield>
    <tui-error [formControl]="form.controls['description']" [error]="['maxlength'] | tuiFieldError | async" />

    <!-- price -->
    <tui-textfield>
      <label tuiLabel>Price</label>
      <input [prefix]="'Ksh'+' '|tuiCurrency"  tuiInputNumber formControlName="price" placeholder="25000" />
    </tui-textfield>
    <tui-error [formControl]="form.controls['price']" [error]="['required','min'] | tuiFieldError | async" />

    <!-- location -->
    <tui-textfield iconStart="@tui.map-pin">
      <label tuiLabel>Location</label>
      <input tuiTextfield formControlName="city" placeholder="e.g. Nairobi" />
    </tui-textfield>
    <tui-error [formControl]="form.controls['city']" [error]="['required'] | tuiFieldError | async" />

    <!-- Amenities -->
    <tui-textfield multi [rows]="4">
      <label tuiLabel>Amenities</label>
      <input tuiInputChip  formControlName="amenities" [unique]="true" />
      <tui-input-chip
      *tuiItem="let context"
      [tuiHint]="context.item.length > 15 ? 'Please Keep it Short':''"
      [appearance]="context.item.length > 15 ? 'negative':'primary'"
      />
    </tui-textfield>
    <tui-error [formControl]="form.controls['amenities']" [error]="['required','error'] | tuiFieldError | async" />

    <!-- nearby schools -->
    <tui-textfield multi [rows]="4">
      <label tuiLabel>Nearby Schools</label>
      <input tuiInputChip  formControlName="nearbySchools" [unique]="true" />
      <tui-input-chip
      *tuiItem="let context"
      [tuiHint]="context.item.length > 30 ? 'Please Keep it Short':''"
      [appearance]="context.item.length > 30 ? 'negative':'primary'"
      />
    </tui-textfield>
    <tui-error [formControl]="form.controls['nearbySchools']" [error]="['error'] | tuiFieldError | async" />

    <!-- nearby hospitals -->
    <tui-textfield multi [rows]="4">
      <label tuiLabel>Nearby Hospitals</label>
      <input tuiInputChip  formControlName="nearbyHospitals" [unique]="true" />
      <tui-input-chip
      *tuiItem="let context"
      [tuiHint]="context.item.length > 15 ? 'Please Keep it Short':''"
      [appearance]="context.item.length > 15 ? 'negative':'primary'"
      />
    </tui-textfield>
    <tui-error [formControl]="form.controls['nearbyHospitals']" [error]="['error'] | tuiFieldError | async" />

    <!-- nearby police stations -->
    <tui-textfield multi [rows]="4">
      <label tuiLabel>Nearby Police Stations</label>
      <input tuiInputChip  formControlName="nearbyPoliceStations" [unique]="true" />
      <tui-input-chip
      *tuiItem="let context"
      [tuiHint]="context.item.length > 15 ? 'Please Keep it Short':''"
      [appearance]="context.item.length > 15 ? 'negative':'primary'"
      />
    </tui-textfield>
    <tui-error [formControl]="form.controls['nearbyPoliceStations']" [error]="['error'] | tuiFieldError | async" />

    <!-- additional note -->
    <tui-textfield>
      <label tuiLabel>Additional Note</label>
      <textarea tuiTextarea formControlName="additionalNote" [limit]="100" placeholder="Any Additional note" [max]=4 [min]=4></textarea>
    </tui-textfield>
    <tui-error [formControl]="form.controls['additionalNote']" [error]="['maxlength'] | tuiFieldError | async" />

    <!-- upload images -->

    <app-image-upload [control]="imagesControl" accept="image/*"  label="Upload room images" [size]="5" />
    <tui-error [formControl]="form.controls['images']" [error]="['maxlength'] | tuiFieldError | async" />
    <footer class="tui-space_top-3">
      <button appearance="secondary" tuiButton type="button" routerLink="/housing">Cancel</button>
      <button tuiButton type="submit" [disabled]="form.invalid || loading">
        {{ loading ? 'Posting...' : 'Post Listing' }}
      </button>
    </footer>
  </form>

</tui-loader>

<!-- <tui-stepper [activeItemIndex]="index" (activeItemIndexChange)="onStep($event)">
  <button tuiStep [icon]="'@tui.house'">House Details</button>
  <button tuiStep [icon]="'@tui.map-pin'">Location Details</button>
  <button tuiStep [icon]="'@tui.house-plus'">Sharing?</button>
  <button tuiStep [icon]="'@tui.plus'">Addons</button>
</tui-stepper>
<footer>
  <button
  [disabled]="!index"
  appearance="secondary"
  tuiButton
  (click)="index=index-1"
  >
    Back
  </button>
  <button
  appearance="secondary"
  tuiButton
  type="submit"
  (click)="onSubmit()"
  >
    Next
  </button>

</footer>
<section [tuiSlides]="direction">
  @for(myForm of forms;let i =$index;track i){
    @if(i===index){
      <form
      tuiAppearance="floating"
      tuiCardLarge
      [formGroup]="myForm"
      [id]="'myForm_'+i"
      (ngSubmit)="onSubmit()">

        <header tuiHeader>
          <div tuiTitle>
            Create Listing
            <span tuiSubtitle>
              Complete the steps below to create a listing
            </span>
          </div>
        </header>

        @for(control of myForm.controls | keyvalue;track control.key){
          <tui-textfield>
            <label tuiLabel>{{control.key}}</label>
            <input
            tuiTextfield
            [tuiAutoFocus]="!!index && !i"
            [formControlName]="control.key"  />
          </tui-textfield>

        }

      </form>
    }
  }
</section> -->



