<div class="t-image">
  <ng-content select="img" />
</div>
@if (cell.title||cell.price||cell.more) {
  <div tuiCell class="t-close">
    <div
    tuiTitle="s">
      <span
      >{{cell.title}}</span>
      <span tuiSubtitle>
        {{cell.more}}
      </span>
    </div>
    <button
      size="xs"
      tuiButton
      [style.background]="cell.background"
      [style.color]="cell.color"
      type="button"

    >
          <tui-icon [icon]="cell.icon"/>
          @if (cell.price) {
            <span
              class="t-type"
              [textContent]="isString(cell.price) ? cell.price : (cell.price | tuiAmount:'Ksh':'left' | async)"
            ></span>
          }/Mth
    </button>
  </div>
}
<div class="t-top">
  <span class="t-icon">
      <ng-content select="tui-icon" />
  </span>

  @if (timestamp) {
    Posted On
      <span
          class="t-time"
          [textContent]="isString(timestamp) ? timestamp : (timestamp | tuiFormatDate | async)"
      ></span>
  }
</div>

<div tuiCell>
  <div
    automation-id="tui-push__heading"
    tuiTitle
  >
    {{ heading }}
  </div>
  <button type="button" size="xs" tuiButton>
    <tui-icon [icon]="RoommateIcon"/>
      {{minRoommates}}/{{maxRoommates}}
  </button>
  <button tuiButton [size]="'xs'"  iconStart="@tui.chart-line">
    8
    </button>
</div>
<div class="t-content">
  <ng-content />
</div>
<div class="t-actions">
  <span class="t-button">
      <ng-content select="[tuiLike]"/>
      <ng-content select="[tuiLike]"/>
      <ng-content select="[tuiLike]"/>
  </span>
  <span class="t-link">
      <ng-content select="[tuiButton]" />
      <ng-content select="[tuiButton]" />
  </span>
</div>




