<!-- search section -->
<div>
  <search tuiSearch>
    <form [formGroup]="form" tuiForm="m">





      <fieldset>
        <!-- house type -->
        <label tuiLabel [tuiSkeleton]="loading">
          <tui-textfield
              multi
              tuiChevron
              tuiDropdownMobile="Select House Type"
              [disabledItemHandler]="disabledItemHandler"
          >
              <label tuiLabel>House Type</label>
              <input
                  placeholder="Select House Type"
                  tuiInputChip
                  formControlName="select"
              />
              @let filtered = topFilters | tuiFilterByInput;
              @if (filtered;as data) {
              <ng-template
              let-close
              tuiTextfieldDropdown
              >
                  <tui-data-list-wrapper
                  new
                  tuiMultiSelectGroup
                  [items]="data"
                  tuiAppearance="primary"
                  [tuiPlatform]="value ?? 'ios'"
                  />
                  <button
                  appearance="accent"
                  size="m"
                  tuiButton
                  tuiDropdownButton
                  type="button"
                  (click)="close()"
                  >
                      Done
                  </button>

              </ng-template>
            }
          </tui-textfield>
        </label>

        <!-- gender -->
        <tui-textfield
        iconStart="@tui.venus"
        [tuiSkeleton]="loading"
        tuiChevron
        tuiDropdownMobile="Select Gender"
        [disabledItemHandler]="disabledItemHandler"
        >
            <label tuiLabel>Gender</label>
            <input
            placeholder="Select Gender"
            tuiSelect
            formControlName="gender"
            />
            <tui-data-list-wrapper
            *tuiTextfieldDropdown
            new
            [items]="gender"
            [tuiPlatform]="value ?? 'ios'"
            [tuiAppearance]="'primary'"
        />
        <tui-icon
          [icon]="genders.icon"
          [tuiTooltip]="genders.tooltip"
          [appearance]="genders.appearance" />
        </tui-textfield>

        <!-- Verification Status -->
        <tui-textfield
        [tuiSkeleton]="loading"
        tuiChevron
        tuiDropdownMobile="Choose verification status"
        [disabledItemHandler]="disabledItemHandler"
        >
        <label tuiLabel>Verification Status</label>
          <input
            formControlName="verified"
            placeholder="Status"
            tuiSelect
            />
            <tui-data-list-wrapper
            *tuiTextfieldDropdown
            new
            [items]="verified"
            [tuiPlatform]="value ?? 'ios'"
            [tuiAppearance]="'primary'"
        />
        <tui-icon
            [icon]="verifiedIcon.icon"
            [tuiTooltip]="verifiedIcon.tooltip"
            [appearance]="verifiedIcon.appearance"
        />
        </tui-textfield>


        <button
          size="s"
          tuiButton
          type="button"
          [tuiSkeleton]="loading"
          >
          Search
        </button>

      </fieldset>
      <fieldset>
        <!-- <tui-segmented size="s" [tuiSkeleton]="loading">
          @for(segmented of topFilters;track $index){
          <label>
              <input
              [tuiSkeleton]="loading"
              formControlName="segmented"
              type="radio"
              [value]="segmented"
              />
              {{ segmented || 'All' }}
          </label>
        }
        </tui-segmented> -->
        <tui-filter
          formControlName="filter"
          size="s"
          [items]="topFilters"
          [tuiSkeleton]="loading"


          />
          <span [tuiSkeleton]="loading">
            Results: 999
          </span>

          <label tuiLabel [tuiSkeleton]="loading">
            <input
              formControlName="switch"
              tuiSwitch
              type="checkbox"
              />
              Assigned to me
            </label>

            <button
              iconStart="@tui.rotate-ccw"
              size="s"
              tuiIconButton
              type="button"
              [style.border-radius.%]="100"
              >
            </button>
          </fieldset>
    </form>
  </search>
</div>



