<!-- search section -->
<div>
  <search tuiSearch>
    <form [formGroup]="form" tuiForm="m">
      <fieldset>
        <!-- house type -->
        <label tuiLabel [tuiSkeleton]="loading">
          <tui-textfield
              multi
              tuiChevron
              tuiDropdownMobile="Select House Type"
              [disabledItemHandler]="disabledItemHandler"
          >
              <label tuiLabel>House Type</label>
              <input
                  placeholder="Select House Type"
                  tuiInputChip
                  formControlName="select"
              />
              @let filtered = topFilters | tuiFilterByInput;
              @if (filtered;as data) {
              <ng-template
              let-close
              tuiTextfieldDropdown
              >
                  <tui-data-list-wrapper
                  new
                  tuiMultiSelectGroup
                  [items]="data"
                  tuiAppearance="primary"
                  [tuiPlatform]="value ?? 'ios'"
                  />
                  <button
                  appearance="accent"
                  size="m"
                  tuiButton
                  tuiDropdownButton
                  type="button"
                  (click)="close()"
                  >
                      Done
                  </button>

              </ng-template>
            }
          </tui-textfield>
        </label>

        <!-- gender -->
        <tui-textfield
        [tuiSkeleton]="loading"
        tuiChevron
        tuiDropdownMobile="Select Gender"
        [disabledItemHandler]="disabledItemHandler"
        >
            <label tuiLabel>Gender</label>
            <input
            #input
            placeholder="Select Gender"
            tuiTextfield
            formControlName="gender"
            />
            @let userGender=usersGender|tuiFilterByInput;
            @if(userGender;as g){
              <ng-container
              >
              @if(input.value && g.length){
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="g"
                  [tuiPlatform]="value ?? 'ios'"
                  [tuiAppearance]="'primary'"
              />
              }@else {
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="g"
                  [tuiPlatform]="value ?? 'ios'"
                  [tuiAppearance]="'primary'"
              />
              }
            </ng-container>
            }

        <tui-icon
          [icon]="genders.icon"
          [tuiTooltip]="genders.tooltip"
          [appearance]="genders.appearance" />
        </tui-textfield>

        <!-- Verification Status -->
        <tui-textfield
        [tuiSkeleton]="loading"
        tuiChevron
        tuiDropdownMobile="Choose verification status"
        [disabledItemHandler]="disabledItemHandler"
        >
        <label tuiLabel>Verification Status</label>
          <input
            formControlName="verified"
            placeholder="Status"
            tuiSelect
            />
            <tui-data-list-wrapper
            *tuiTextfieldDropdown
            new
            [items]="verified"
            [tuiPlatform]="value ?? 'ios'"
            [tuiAppearance]="'primary'"
        />
        <tui-icon
            [icon]="verifiedIcon.icon"
            [tuiTooltip]="verifiedIcon.tooltip"
            [appearance]="verifiedIcon.appearance"
        />
        </tui-textfield>


        <button
          size="s"
          tuiButton
          type="button"
          [tuiSkeleton]="loading"
          (click)="submitSearch()"
          >
          Search
        </button>

      </fieldset>
      <fieldset>
          <div
          tuiItemGroup
          [horizontal]="true"
          [autoscroll]="true"
          >
          <tui-items-with-more [linesLimit]="linesLimit">
            @for(chip of topFilters;track $index){
              <label *tuiItem tuiChip>
                {{chip}}
                <input
                type="checkbox"
                tuiChip
                [value]="chip"
                [appearance]="checked[$index] ? 'accent' : 'positive'">
              </label>
            }
            <ng-template
            let-index
            tuiMore
            >
                <button
                    appearance="neutral"
                    iconEnd="@tui.chevron-down"
                    size="s"
                    tuiChip
                    type="button"
                    class="more"
                    (click)="linesLimit = 100"
                >
                    More {{ topFilters.length - index - 1 }}
                </button>
            </ng-template>
          </tui-items-with-more>

          </div>
          <span [tuiSkeleton]="loading">
            Results: {{filteredListings.length}}
          </span>

          <label tuiLabel [tuiSkeleton]="loading">
            <input
              formControlName="switch"
              tuiSwitch
              type="checkbox"
              (change)="submitSearch()"

              />
              Assigned to me
            </label>

            <button
              iconStart="@tui.rotate-ccw"
              size="s"
              tuiIconButton
              type="reset"
              [style.border-radius.%]="100"
              >
            </button>
          </fieldset>
    </form>
  </search>
</div>

<!-- <div class="labeled" tuiFade>
  @for (s of recentSearches | slice: 0 : 10; track s.timestamp;) {
    @let name=formatRecentLabel(s);
  <tui-avatar-labeled [label]="name|slice:0:11" tuiFade [tuiFadeHeight]="'1rem'">
    <tui-avatar (click)="restoreSearch(s)">
      {{name|tuiInitials}}
    </tui-avatar>
  </tui-avatar-labeled>
  }
</div> -->

@if(filteredListings.length===0){
  @for (s of recentSearches | slice: 0 : 10; track s.timestamp;) {
    @let name=formatRecentLabel(s);
    <ul class="tui-list">
      <li class="tui-list__item">
        <a (click)="restoreSearch(s)" tuiLink>
          <tui-icon icon="@tui.history" />{{' '+name}}
        </a>
      </li>
    </ul>
  }
}
<tui-loader [showLoader]="loading" />
@if(filteredListings.length!==0){
  <div tuiConnected tuiCardLarge class="results">
    @for(list of filteredListings;track list.id){
      @let time = list.created_at ? (list.created_at.getTime() | tuiFormatDate | async) : '';
      <button tuiCell="l" [routerLink]="['/housing', list.id]">
        <tui-avatar
        [round]="false"
        [size]="'xl'"
        [style.background]="'linear-gradient(#ECDD00FF, #B4DA0AFF)'"
        [tuiAvatarOutline]="'linear-gradient(#ECDD00FF, #B4DA0AFF)'"
        [src]="list.images?.[0]?.url" />
        <div tuiTitle>
          <div tuiSubtitle>
            <span [style.color]="'var(--tui-text-positive)'">
              <tui-icon [style.zoom]="'70%'" icon="@tui.user" />{{list.current_occupants}}/{{list.max_occupants}}</span>
            •
            <span>{{time??''}}</span>
          </div>
          {{list.title}}
          <span tuiSubtitle>
            {{list.house_type}}
          </span>
        </div>

        <div tuiTitle>
          <div tuiSubtitle>
            <span [style.color]="'var(--tui-text-positive)'">
              <tui-icon [style.zoom]="'70%'" icon="@tui.map-pin" />{{list.location}}
            </span>
          </div>
            {{list.user_type}}
          <span tuiSubtitle>
            {{list.price|tuiAmount:'Ksh':'left'|async}}
          </span>
        </div>
      </button>
    }
  </div>
}




