<!-- general page -->
<div class="feature-grid">
  <div class="large-card" >
    <div
        tuiCarouselButtons
        class="wrapper"
    >
        <button
            iconStart="@tui.chevron-left"
            tuiIconButton
            type="button"
            (click)="carousel.prev()"
            size="xs"
        >
            Previous
        </button>
        <button
            iconStart="@tui.chevron-right"
            tuiIconButton
            type="button"
            size="xs"
            (click)="carousel.next()"
        >
            Previous
        </button>
        <!-- <tui-badge appearance="glass" size="s">
          <tui-pagination
            size="s"
            class="pagination"
            [length]="count"
            [(index)]="index"
          />
        </tui-badge> -->
    </div>
    <tui-carousel
    #carousel
    [duration]="10000"
    [itemsCount]="1"
    [(index)]="index"
    [draggable]="true">
      <div *tuiItem class="cards">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugit, maxime obcaecati corporis a nostrum explicabo sunt doloremque nisi aspernatur cum saepe repudiandae consequatur tempore natus quis animi ad dolorem!
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugit, maxime obcaecati corporis a nostrum explicabo sunt doloremque nisi aspernatur cum saepe repudiandae consequatur tempore natus quis animi ad dolorem!
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugit, maxime obcaecati corporis a nostrum explicabo sunt doloremque nisi aspernatur cum saepe repudiandae consequatur tempore natus quis animi ad dolorem!
        </div>
      </div>

      <!-- item 2 -->
      <div *tuiItem>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquam, ratione omnis inventore expedita aperiam ipsam adipisci officia provident sint? Quidem pariatur ut, animi repellat necessitatibus quo sed unde cum?
      </div>

      <div *tuiItem>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquam, ratione omnis inventore expedita aperiam ipsam adipisci officia provident sint? Quidem pariatur ut, animi repellat necessitatibus quo sed unde cum?
      </div>

      <!-- end of items -->

    </tui-carousel>

  </div>

  <div class="small-cards">
    <div class="small-card top" tuiCardMedium>
      <h3>Secondary Item 1</h3>
    </div>
    <div class="small-card bottom" tuiCardMedium>
      <h3>Secondary Item 2</h3>
    </div>
  </div>
</div>
